select {
	background: transparent;
	border-radius: 0;
}

.section {
  border-top: 2px solid;
  margin: 20px 0;
}

.section h2 {
  margin: 0;
}

#content {
  margin: 0 10%;
}

h3 {
  display: inline;
}

label {
  display: inline-block;
  width: 130px;
  clear: left;
  padding-left: 6px;
}

input {
  display: inline-block;
  float: left;
  border: 1px solid;
}